




/*
     FILE ARCHIVED ON 14:26:10 Dec 21, 2014 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 20:43:36 Dec 8, 2016.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
td {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #000000}
input {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #000000}
textarea {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #000000}
sup {  font-size: 10px; }
a.headerLink       {  font-family: "Lucida Console", "Courier New", Courier, Arial; font-size: 12px; color: #000000; background-color: #FFFFFF; text-decoration: none}
a.headerLink:hover {  font-family: "Lucida Console", "Courier New", Courier, Arial; font-size: 12px; color: #000000; background-color: #B3D0CA; text-decoration: none}

